<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bienvenue sur {{ title }}!
  </h1>
  <div style="display: flex">
    
  <nav style="flex:1">
    <ul>
    <li><img src="" alt=""><a routerLink="/poids" >CONVERTISSEUR POIDS</a></li>
    <li><a routerLink="/distance">CONVERTISSEUR DISTANCES</a></li>
  <li><a routerLink="/temperature">CONVERSION TEMPERATURE</a></li>
  </ul>
  </nav>
  <div style="flex:2">
      <router-outlet></router-outlet>
      </div>
</div>

<footer> @ copyright Mouhiyadin Ali Darar</footer>
