<H1>CONVERTISSEUR DE DISTANCE</H1>


<P>Ne perdez plus inutilement votre temps dans la conversion des livres en kilos et vice versa. Indiquez simplement le nombre de kilos ou de livres dont il est question dans le champ réservé à cet effet e
    t un clic de souris vous donnera une réponse exacte sans prise de tête.</P>

    <input #box (keyup.enter)="onEnter(box.value)">
    <label > Mètres </label>

<input type="text" placeholder="{{resultat}}">
<label > Pied  </label>

<p>
        
        Dès l'Antiquité, l'être humain a éprouvé la nécessité de calculer les distances. D'abord en prenant pour repère l'itinéraire solaire, ensuite en se servant de son propre corps comme instrument de mesure. Le pas, la main, le pouce, la portée visuelle… Partout en Europe, l'on adopta les unités corporelles pour définir les distances. Coudée, aune, toise, pied, pouce, main, etc., ne déterminaient pas de manière exacte, cependant, les distances.

    </p>

    <p>
            Si l'on tient compte que cette méthode était fort hasardeuse, puisque différente selon l'individu qui l'appliquait, on comprend qu'il ait fallu attendre l'instauration de standards spécifiques avant de parler véritablement de système de mesures. C'est vers 1790 que l'on décide en France de déterminer scientifiquement tout un système de poids et mesures, selon les résultats de recherches effectuées par des géomètres de renom. C'est ainsi qu'un premier mètre fit son entrée en scène, en 1795, sur le continent européen.

        
    </p>
